<div *ngIf="auth.currentUserValue" id="app-header">
    <div id="main-header" class="col row">
        <div id="logo" class="col-auto">
            <i class="fa fa-user-secret fa-7x"></i>
        </div>
        <div id="app-name" class="col-auto" (click)="router.navigate(['/home'])">> Labo sécurité web </div>
        <div id="free-aera-header" class="col row">
            <div class="col-auto"></div>
            <div class="col"></div>
            <div class="col-auto">{{ auth?.currentUserValue?.firstname | titlecase }} {{ auth?.currentUserValue?.lastname | titlecase }}</div>
            <div class="col-auto d-inline-block">
                <div ngbDropdown>
                    <i id="dropdownBasic1" class="fa fa-user" ngbDropdownToggle> | {{ auth?.currentUserValue?.right | uppercase }}</i>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button *ngIf="auth.currentUserValue" (click)="auth.logout();" ngbDropdownItem>Logout</button>
                    </div>
                </div>        
            </div>

        </div>
    </div>
</div>