
/* #region General */
$white: #fff;
$black: #000;
$app_theme: rgba(203, 131, 31, 0.15);
$app_color: #cb821f;
$app_color_light: #ccb89b;
$app_color_light_grey: #E8E8E8;
/* #endregion */

/* #region Header */
$multicolor1: #f5c37d;
/* #endregion */